node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

#React Files
client/node_modules
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
